<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello</title>
  </head>
  <body>
    <h1>Items</h1>
    <ul>
      <% items.forEach(item => { %>
      <li><%= item.name %></li>
      <% }) %>
    </ul>
  </body>
</html>
